# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders = pd.read_csv('Orders.csv')
orders.head(60)

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
5,5,536365,22752,2010,12,3,8,set 7 babushka nesting boxes,2,2010-12-01 08:26:00,7.65,17850,United Kingdom,15.30
6,6,536365,21730,2010,12,3,8,glass star frosted t-light holder,6,2010-12-01 08:26:00,4.25,17850,United Kingdom,25.50
7,7,536366,22633,2010,12,3,8,hand warmer union jack,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
8,8,536366,22632,2010,12,3,8,hand warmer red polka dot,6,2010-12-01 08:28:00,1.85,17850,United Kingdom,11.10
9,9,536367,84879,2010,12,3,8,assorted colour bird ornament,32,2010-12-01 08:34:00,1.69,13047,United Kingdom,54.08
10,10,536367,22745,2010,12,3,8,poppy's playhouse bedroom,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
11,11,536367,22748,2010,12,3,8,poppy's playhouse kitchen,6,2010-12-01 08:34:00,2.10,13047,United Kingdom,12.60
12,12,536367,22749,2010,12,3,8,feltcraft princess charlotte doll,8,2010-12-01 08:34:00,3.75,13047,United Kingdom,30.00
13,13,536367,22310,2010,12,3,8,ivory knitted mug cosy,6,2010-12-01 08:34:00,1.65,13047,United Kingdom,9.90
14,14,536367,84969,2010,12,3,8,box of 6 assorted colour teaspoons,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
15,15,536367,22623,2010,12,3,8,box of vintage jigsaw blocks,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
16,16,536367,22622,2010,12,3,8,box of vintage alphabet blocks,2,2010-12-01 08:34:00,9.95,13047,United Kingdom,19.90
17,17,536367,21754,2010,12,3,8,home building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
18,18,536367,21755,2010,12,3,8,love building block word,3,2010-12-01 08:34:00,5.95,13047,United Kingdom,17.85
19,19,536367,21777,2010,12,3,8,recipe box with metal heart,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
20,20,536367,48187,2010,12,3,8,doormat new england,4,2010-12-01 08:34:00,7.95,13047,United Kingdom,31.80
21,21,536368,22960,2010,12,3,8,jam making set with jars,6,2010-12-01 08:34:00,4.25,13047,United Kingdom,25.50
22,22,536368,22913,2010,12,3,8,red coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
23,23,536368,22912,2010,12,3,8,yellow coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
24,24,536368,22914,2010,12,3,8,blue coat rack paris fashion,3,2010-12-01 08:34:00,4.95,13047,United Kingdom,14.85
25,25,536369,21756,2010,12,3,8,bath building block word,3,2010-12-01 08:35:00,5.95,13047,United Kingdom,17.85
26,26,536370,22728,2010,12,3,8,alarm clock bakelike pink,24,2010-12-01 08:45:00,3.75,12583,France,90.00
27,27,536370,22727,2010,12,3,8,alarm clock bakelike red,24,2010-12-01 08:45:00,3.75,12583,France,90.00
28,28,536370,22726,2010,12,3,8,alarm clock bakelike green,12,2010-12-01 08:45:00,3.75,12583,France,45.00
29,29,536370,21724,2010,12,3,8,panda and bunnies sticker sheet,12,2010-12-01 08:45:00,0.85,12583,France,10.20
30,30,536370,21883,2010,12,3,8,stars gift tape,24,2010-12-01 08:45:00,0.65,12583,France,15.60
31,31,536370,10002,2010,12,3,8,inflatable political globe,48,2010-12-01 08:45:00,0.85,12583,France,40.80
32,32,536370,21791,2010,12,3,8,vintage heads and tails card game,24,2010-12-01 08:45:00,1.25,12583,France,30.00
33,33,536370,21035,2010,12,3,8,set/2 red retrospot tea towels,18,2010-12-01 08:45:00,2.95,12583,France,53.10
34,34,536370,22326,2010,12,3,8,round snack boxes set of4 woodland,24,2010-12-01 08:45:00,2.95,12583,France,70.80
35,35,536370,22629,2010,12,3,8,spaceboy lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80
36,36,536370,22659,2010,12,3,8,lunch box i love london,24,2010-12-01 08:45:00,1.95,12583,France,46.80
37,37,536370,22631,2010,12,3,8,circus parade lunch box,24,2010-12-01 08:45:00,1.95,12583,France,46.80
38,38,536370,22661,2010,12,3,8,charlotte bag dolly girl design,20,2010-12-01 08:45:00,0.85,12583,France,17.00
39,39,536370,21731,2010,12,3,8,red toadstool led night light,24,2010-12-01 08:45:00,1.65,12583,France,39.60
40,40,536370,22900,2010,12,3,8,set 2 tea towels i love london,24,2010-12-01 08:45:00,2.95,12583,France,70.80
41,41,536370,21913,2010,12,3,8,vintage seaside jigsaw puzzles,12,2010-12-01 08:45:00,3.75,12583,France,45.00
42,42,536370,22540,2010,12,3,8,mini jigsaw circus parade,24,2010-12-01 08:45:00,0.42,12583,France,10.08
43,43,536370,22544,2010,12,3,8,mini jigsaw spaceboy,24,2010-12-01 08:45:00,0.42,12583,France,10.08
44,44,536370,22492,2010,12,3,8,mini paint set vintage,36,2010-12-01 08:45:00,0.65,12583,France,23.40
45,45,536370,POST,2010,12,3,8,postage,3,2010-12-01 08:45:00,18.00,12583,France,54.00
46,46,536371,22086,2010,12,3,9,paper chain kit 50's christmas,80,2010-12-01 09:00:00,2.55,13748,United Kingdom,204.00
47,47,536372,22632,2010,12,3,9,hand warmer red polka dot,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10
48,48,536372,22633,2010,12,3,9,hand warmer union jack,6,2010-12-01 09:01:00,1.85,17850,United Kingdom,11.10
49,49,536373,85123A,2010,12,3,9,white hanging heart t-light holder,6,2010-12-01 09:02:00,2.55,17850,United Kingdom,15.30
50,50,536373,71053,2010,12,3,9,white metal lantern,6,2010-12-01 09:02:00,3.39,17850,United Kingdom,20.34
51,51,536373,84406B,2010,12,3,9,cream cupid hearts coat hanger,8,2010-12-01 09:02:00,2.75,17850,United Kingdom,22.00
52,52,536373,20679,2010,12,3,9,edwardian parasol red,6,2010-12-01 09:02:00,4.95,17850,United Kingdom,29.70
53,53,536373,37370,2010,12,3,9,retro coffee mugs assorted,6,2010-12-01 09:02:00,1.06,17850,United Kingdom,6.36
54,54,536373,21871,2010,12,3,9,save the planet mug,6,2010-12-01 09:02:00,1.06,17850,United Kingdom,6.36
55,55,536373,21071,2010,12,3,9,vintage billboard drink me mug,6,2010-12-01 09:02:00,1.06,17850,United Kingdom,6.36
56,56,536373,21068,2010,12,3,9,vintage billboard love/hate mug,6,2010-12-01 09:02:00,1.06,17850,United Kingdom,6.36
57,57,536373,82483,2010,12,3,9,wood 2 drawer cabinet white finish,2,2010-12-01 09:02:00,4.95,17850,United Kingdom,9.90
58,58,536373,82486,2010,12,3,9,wood s/3 cabinet ant white finish,4,2010-12-01 09:02:00,6.95,17850,United Kingdom,27.80
59,59,536373,82482,2010,12,3,9,wooden picture frame white finish,6,2010-12-01 09:02:00,2.10,17850,United Kingdom,12.60

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [8]:
orders['CustomerID'].nunique()
# I need to compare 4339 customers.

4339

In [22]:
temporder = orders.groupby(['CustomerID']).agg({'amount_spent':sum})
# Storing this in a new dataframe to keep working with it
temporder.head()

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40

In [36]:
# How to select customers whose aggregated `amount_spent` is in a given quantile range?

#define the quantiles:
vipcutoff = temporder.quantile(.95)

prefcutoff = temporder.quantile(.75)

vip = temporder[temporder['amount_spent']>vipcutoff[0]]
pref = temporder[(temporder['amount_spent'] > prefcutoff[0]) & (temporder['amount_spent'] < vipcutoff[0])]

            amount_spent
CustomerID
12347            4310.00
12348            1797.24
12349            1757.55
12352            2506.04
12356            2811.43
...                  ...
18259            2338.60
18260            2643.20
18272            3078.58
18283            2094.88
18287            1837.28

[868 rows x 1 columns]

In [46]:
# How to label selected customers as "VIP" or "Preferred"

# My goto way of doing this is generating a list, which I will then use to define a new column
customertype = []

# I also need to convert the VIP and Preferred customer IDs into lists
viplist = list(vip.index)
preflist = list(pref.index)


for i in orders.index:
    if orders['CustomerID'][i] in viplist:
        customertype.append('VIP')
    elif orders['CustomerID'][i] in preflist:
        customertype.append('Preferred')
    else: 
        customertype.append('Regular')
        
orders['CustomerType'] = customertype

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [108]:

temp = pd.concat([orders['Country'], orders['CustomerType']], axis = 1)

vipnumbers = temp['Country'][temp['CustomerType'] == 'VIP'].value_counts()
display(vipnumbers)
# This gives the absolute number of VIP customers, but how does this relate to the total number of customers from each country?

United Kingdom     84185
EIRE                7077
France              3290
Germany             3127
Netherlands         2080
Australia            898
Portugal             681
Switzerland          594
Spain                511
Norway               420
Channel Islands      364
Finland              294
Cyprus               248
Singapore            222
Japan                205
Sweden               198
Belgium               54
Denmark               36
Name: Country, dtype: int64

In [152]:

totals = temp['Country'].value_counts()
display(totals)

# I can see right away that there are a number of countries without any VIP customers, so I'll only need the total counts for countries that do have VIPs.

United Kingdom          354345
Germany                   9042
France                    8342
EIRE                      7238
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1842
Portugal                  1462
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     248
Unspecified                244
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     17
Saudi Arabia                 9
Name: Country, dtype: int64

I'll use a right join to put 'vipnumbers' and 'totals' into a single dataframe. This first requires some cleaning of the dataframes...

(At first I transformed 'totals' to only include countries also present in 'vipnumbers', but then found out that this makes it hard to reuse the 'totals' series for the next assignment.)

In [153]:
# Convert to dataframe (found out the hard way after fiddling around with series that this is the easier way)
totalsframe = pd.DataFrame(data=totals)
vipframe = pd.DataFrame(data=vipnumbers)

# Reset the index to get the 'Country' column back into the dataframe
totalsframe = totalsframe.reset_index()
vipframe = vipframe.reset_index()

# Rename the columns to match the country
totalsframe = totalsframe.rename(columns = {"index": "Country", "Country": "Total"})
vipframe = vipframe.rename(columns = {"index": "Country", "Country": "VIPs"})


# Merge the two (with a right join)

newframe = pd.merge(  left = totalsframe,
                        right = vipframe,
                        how = 'right', 
                        left_on = "Country", 
                        right_on= "Country")

# Calculate the ratio of VIPs to total:
newframe['Ratio'] = newframe['VIPs'] / newframe['Total']

# Sort the result by highest ratio
newframe.sort_values(['Ratio'], ascending = False)

            Country   Total   VIPs     Ratio
13        Singapore     222    222  1.000000
1              EIRE    7238   7077  0.977756
4       Netherlands    2363   2080  0.880237
5         Australia    1185    898  0.757806
14            Japan     321    205  0.638629
10  Channel Islands     748    364  0.486631
6          Portugal    1462    681  0.465800
15           Sweden     451    198  0.439024
11          Finland     685    294  0.429197
12           Cyprus     614    248  0.403909
2            France    8342   3290  0.394390
9            Norway    1072    420  0.391791
3           Germany    9042   3127  0.345831
7       Switzerland    1842    594  0.322476
0    United Kingdom  354345  84185  0.237579
8             Spain    2485    511  0.205634
17          Denmark     380     36  0.094737
16          Belgium    2031     54  0.026588

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [129]:
# Again I'll do the rough-and-ready method for getting absolute numbers first: 

temp = pd.concat([orders['Country'], orders['CustomerType']], axis = 1)

combonumbers = temp['Country'][(temp['CustomerType'] == 'VIP') | (temp['CustomerType'] == 'Preferred')].value_counts()
display(combonumbers)

United Kingdom     221635
Germany              7349
EIRE                 7238
France               6301
Netherlands          2080
Spain                1569
Belgium              1557
Switzerland          1370
Portugal             1093
Norway               1028
Australia            1028
Channel Islands       589
Italy                 507
Finland               504
Cyprus                451
Sweden                273
Japan                 272
Singapore             222
Denmark               217
Israel                214
Iceland               182
Austria               158
Poland                149
Canada                135
Malta                  67
Lebanon                45
Greece                 32
Name: Country, dtype: int64

Then I want to get the ratios again. I still have the dataframe 'totalsframe', so only have to go through part of the motions.

In [154]:
# First order of business: get the dataframe again

# Initialize a dataframe
comboframe = pd.DataFrame(data=combonumbers)

# Reset the index to get the 'Country' column back into the dataframe
comboframe = comboframe.reset_index()

# Rename the columns to match the country
comboframe = comboframe.rename(columns = {"index": "Country", "Country": "VIP and Preferred"})

# Now left join total frame onto combo frame

newframe2 = pd.merge(
                        left = totalsframe,
                        right = comboframe,
                        how = 'right', 
                        left_on = "Country", 
                        right_on= "Country")

In [155]:
# Calculate the ratio of VIPs to total:
newframe2['Ratio'] = newframe2['VIP and Preferred'] / newframe2['Total']

# Sort the result by highest ratio
newframe2.sort_values(['Ratio'], ascending = False)

            Country   Total  VIP and Preferred     Ratio
2              EIRE    7238               7238  1.000000
17        Singapore     222                222  1.000000
25          Lebanon      45                 45  1.000000
20          Iceland     182                182  1.000000
9            Norway    1072               1028  0.958955
23           Canada     151                135  0.894040
4       Netherlands    2363               2080  0.880237
10        Australia    1185               1028  0.867511
19           Israel     248                214  0.862903
16            Japan     321                272  0.847352
1           Germany    9042               7349  0.812763
11  Channel Islands     748                589  0.787433
6           Belgium    2031               1557  0.766617
3            France    8342               6301  0.755334
8          Portugal    1462               1093  0.747606
7       Switzerland    1842               1370  0.743757
13          Finland     685                504  0.735766
14           Cyprus     614                451  0.734528
12            Italy     758                507  0.668865
5             Spain    2485               1569  0.631388
0    United Kingdom  354345             221635  0.625478
15           Sweden     451                273  0.605322
24            Malta     112                 67  0.598214
18          Denmark     380                217  0.571053
22           Poland     330                149  0.451515
21          Austria     398                158  0.396985
26           Greece     145                 32  0.220690